.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-contact {
  font-size: 42px;
  margin: 0 0 5px 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0 0 10px 0;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.custom-button {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.button {
  background: #4169e1;
  border: none;
  z-index: 1;
}
.button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #191970;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.button:hover {
  color: #fff;
}
.button:hover:after {
  left: 0;
  width: 100%;
}
.button:active {
  top: 2px;
}
